<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Dev <add key="ClientId" value="12a4df45-96cd-43ad-bdf9-f51b8d5fd458"/>
    <add key="ClientSecret" value="zZCp6wh6neW/gyY63Rlg4ij49LrD2nhCV68L+MI4iMM="/>
    <add key="SiteUrl"   value="https://jcistage.sharepoint.com"/>
  --><!--<add key="SiteUrl"   value="https://apps.jci.com/sites/jpandik"/>--><!--
    <add key="Reminderdays"   value="20"/>
    <add key="ConfigurationList"   value="Page Expiration Configuration List2"/>-->
    
<!--QA
 <add key="ClientId" value="6427abf3-aa8c-45fb-83de-4ca40e1a104c"/>
    <add key="ClientSecret" value="k4uJLMwrpRZiE91nuwaCUgYYHGCTDJDpkfq4YDYQlU4="/>
    <add key="SiteUrl"   value="https://apps.jci.com/sites/jpandik"/>
    <add key="Reminderdays"   value="20"/>
    <add key="ConfigurationList"   value="Page Expiration Configuration List"/>
    <add key="ResultItems"   value="150"/>
    <add key="Pages"   value="Pages"/>
    <add key="EmailLogList"   value="EmailList"/>-->
    
   <add key="ClientId" value="6427abf3-aa8c-45fb-83de-4ca40e1a104c"/>
    <add key="ClientSecret" value="k4uJLMwrpRZiE91nuwaCUgYYHGCTDJDpkfq4YDYQlU4="/>
    <add key="SiteUrl"   value="https://apps.jci.com/sites/contenthub/"/>
    <add key="Reminderdays"   value="45"/>
    <add key="ConfigurationList"   value="Page Expiration Configuration List"/>
    <add key="ResultItems"   value="150"/>
    <add key="Pages"   value="Pages"/>
    <add key="EmailLogList"   value="EmailList"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>